/*
<div class="...-wrap">
<span class="...">Текст в шапке</span>
<div class="...-text">
Текст внутри блока ...
</div>
</div>

default – "White" 
.book.color-theme-2 – "Night"
.book.color-theme-1 – "Sepia"
*/

/*Означення*/
.eoz-wrap{
    margin-bottom:1em;
}
.eoz {
    background: #0F5181;
    border: 0.15em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
}
.eoz-text {
    width:100%;
    background: #FAFAFA;
    border: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.book.color-theme-1 .eoz {
    background: #704214;
    border: 0.15em solid #704214;
    color:#F3EACB;
}
.book.color-theme-1 .eoz-text {
    width:100%;
    background: #F3EACB;
    border: .15em solid #704214;
}

.book.color-theme-2 .eoz-wrap{
    margin-bottom:1em;
}
.book.color-theme-2 .eoz {
    background: #2C3043;
    border: 0.15em solid #2C3043;
    color:#bdcadb;
}
.book.color-theme-2 .eoz-text {
    width:100%;
    background: #1c1f2b;
    border: .15em solid #2C3043;
}

/*Задача*/
.task-wrap{
    margin-bottom:1em;
}
.task {
    background: #faaf00;
    border: 0.15em solid #faaf00;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.task-text {
    width:100%;
    background: #fff;
    border-left: .15em solid #faaf00;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.book.color-theme-1 .task-wrap{
    margin-bottom:1em;
}
.book.color-theme-1 .task {
    background: #704214;
    border: 0.15em solid #704214;
    color:#F3EACB;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-1 .task-text {
    width:100%;
    background: #F3EACB;
    border-left: .15em solid #704214;
    padding-left:10px;
    padding-right:10px;
}

.book.color-theme-2 .task-wrap{
    margin-bottom:1em;
}
.book.color-theme-2 .task {
    background: #2c3043;
    border: 0.15em solid #2c3043;
    color:#bdcadb;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-2 .task-text {
    width:100%;
    background: #1c1f2b;
    border-left: .15em solid #2c3043;
    padding-left:10px;
    padding-right:10px;
}


/*
Авторський алгоритм
Як запам'ятати
ЗНО
*/
.alg-wrap{
    margin-bottom:1em;
}
.alg {
    background: #faaf00;
    border: 0.2em solid #faaf00;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.alg-text {
    width:100%;
    background: #fff;
    border-top: .15em solid #faaf00;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #faaf00;
    padding-top:5px;
    padding-bottom:5px;
}

.book.color-theme-1 .alg-wrap{
    margin-bottom:1em;
}
.book.color-theme-1 .alg {
    background: #704214;
    border: 0.2em solid #704214;
    color:#F3EACB;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-1 .alg-text {
    width:100%;
    background: #F3EACB;
    border-top: .15em solid #704214;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #704214;
}

.book.color-theme-2 .alg-wrap{
    margin-bottom:1em;
}
.book.color-theme-2 .alg {
    background: #2c3043;
    border: 0.2em solid #2c3043;
    color:#bdcadb;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-2 .alg-text {
    width:100%;
    background: #1c1f2b;
    border-top: .15em solid #2c3043;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #2c3043;
}


/*
Додатково
Цікаво
*/
.add-wrap{
    margin-bottom:1em;
}
.add {
    background: #0F5181;
    border: 0.2em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.add-text {
    width:100%;
    background: #fff;
    border-top: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #0F5181;
    padding-top:5px;
    padding-bottom:5px;
}

.book.color-theme-1 .add-wrap{
    margin-bottom:1em;
}
.book.color-theme-1 .add {
    background: #704214;
    border: 0.2em solid #704214;
    color:#F3EACB;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-1 .add-text {
    width:100%;
    background: #F3EACB;
    border-top: .15em solid #704214;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #704214;
}

.book.color-theme-2 .add-wrap{
    margin-bottom:1em;
}
.book.color-theme-2 .add {
    background: #2c3043;
    border: 0.2em solid #2c3043;
    color:#bdcadb;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-2 .add-text {
    width:100%;
    background: #1c1f2b;
    border-top: .15em solid #2c3043;
    padding-left:10px;
    padding-right:10px;
    border-bottom: .15em solid #2c3043;
}

/*Ebio*/
.ebio-wrap{
    margin-bottom:1em;
}
.ebio {
    background: #0F5181;
    border: 0.15em solid #0F5181;
    color:white;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.ebio-text {
    width:100%;
    background: #fff;
    border-left: .15em solid #0F5181;
    border-top: .15em solid #0F5181;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.book.color-theme-1 .ebio-wrap{
    margin-bottom:1em;
}
.book.color-theme-1 .ebio {
    background: #704214;
    border: 0.15em solid #704214;
    color:#F3EACB;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-1 .ebio-text {
    width:100%;
    background: #F3EACB;
    border-left: .15em solid #704214;
    border-top: .15em solid #704214;
    padding-left:10px;
    padding-right:10px;
}

.book.color-theme-2 .ebio-wrap{
    margin-bottom:1em;
}
.book.color-theme-2 .ebio {
    background: #2c3043;
    border: 0.15em solid #2c3043;
    color:#bdcadb;
    font-weight: bold;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:5px;
}
.book.color-theme-2 .ebio-text {
    width:100%;
    background: #1c1f2b;
    border-left: .15em solid #2c3043;
    border-top: .15em solid #2c3043;
    padding-left:10px;
    padding-right:10px;
}

/*---------------png,svg image----------------------*/
.image {
    background: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book.color-theme-1 .image {
    background: #F3EACB;
}

.book.color-theme-2 .image {
    background: #FAFAFA;
}
/*----------------------------------*/
.left-line {
    border-left:0.3em solid #FAFAFA;
}

/*Для таблицы*/
.left {
    font-weight: 400;
    text-align: left;
    font-size: 11pt;
}
.center {
    font-weight: 850;
    text-align: center;
    vertical-align:middle;
    font-size: 12pt;
}

.caption{
    font-weight: 850;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 25px;
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

p1 {
 font-weight: bold;
 color: #0F5180;
}

.centered {
    text-align: center;
}

.centered-table-wrapper {
    width: 100%;
}

.centered-table {
    border: 2px solid #0F5180;
    display: table !important;
    width: initial !important;
    margin:auto;
 }
 
td, tr{
 border: 2px solid #0F5180;
}

/*modal ssssss  */  
@import url(//fonts.googleapis.com/css?family=Exo+2:700,400&subset=latin,cyrillic);

/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
    overflow: hidden;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
    visibility: hidden;
}

/* Necessary styles of the overlay */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;

    display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: auto;

    text-align: center;

    -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
    display: inline-block;

    height: 100%;
    margin-left: -0.05em;

    content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
    -webkit-transform: translateZ(0px);
}

/* Necessary styles of the modal dialog */

.remodal {
    position: relative;

    display: inline-block;
}

/* Anti-zoom. Font-size should be >= 16px. */

.remodal select,
.remodal textarea,
.remodal input,
.remodal select:focus,
.remodal textarea:focus,
.remodal input:focus {
    font-size: 16px;
}

/* ==========================================================================
   Remodal default theme
   ========================================================================== */

/* Default theme font */

.remodal,
.remodal * {
    font-family: "Exo 2", sans-serif;
}

/* Background for effects */

.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s ease-out;
    -moz-transition: -moz-filter 0.2s ease-out;
    -o-transition: -o-filter 0.2s ease-out;
    transition: filter 0.2s ease-out;
}

body.remodal-is-active .remodal-bg {
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;

    opacity: 0;
    background: rgba(33, 36, 46, 0.95);
}

body.remodal-is-active .remodal-overlay {
    opacity: 1;
}

/* Default theme styles of the modal dialog */

.remodal {
    font-size: 16px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 35px;

    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;
    color: #182a3c;
    background: #f4f4f4;
    background-clip: padding-box;
}

body.remodal-is-active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    opacity: 1;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}

/* Close button */

.remodal-close {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 28px;
    height: 28px;

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    text-decoration: none;

    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.remodal-close:after {
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
    font-size: 28px;
    line-height: 28px;

    display: block;

    content: "×";
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;

    color: #3e5368;
}

.remodal-close:hover,
.remodal-close:active {
    background: #3e5368;
}

.remodal-close:hover.remodal-close:after,
.remodal-close:active.remodal-close:after {
    color: #f4f4f4;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
    font-size: 10pt;

    display: inline-block;

    width: 120px;
    margin: 0 0 5px 0;
    padding: 9px 0;

    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-align: center;
    text-decoration: none;

    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
}

.remodal-confirm {
    color: #16a085;
    border: 2px solid #16a085;
    background: #f4f4f4;
}

.remodal-confirm:hover,
.remodal-confirm:active {
    color: #f4f4f4;
    background: #16a085;
}

.remodal-cancel {
    color: #c0392b;
    border: 2px solid #c0392b;
    background: #f4f4f4;
}

.remodal-cancel:hover,
.remodal-cancel:active {
    color: #f4f4f4;
    background: #c0392b;
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 700px;
        min-height: 0;
        margin: 20px auto;

        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F021242E, endColorstr=#F021242E);
}

.lt-ie9 .remodal {
    width: 700px;
    min-height: 0;
    margin: 20px auto;
}

.lt-ie9 .remodal-close:after {
    margin: auto;

    text-align: center;
}

.lt-ie9 .remodal-close:hover,
.lt-ie9 .remodal-close:active {
    background: transparent;
}

.lt-ie9 .remodal-close:hover.remodal-close:after,
.lt-ie9 .remodal-close:active.remodal-close:after {
    color: #3e5368;
}
  
.centered {
    text-align: center;
}

.centered-table-wrapper {
    width: 100%;
}

.centered-table {
    display: table !important;
    width: initial !important;
    margin:auto;
 }
 
.clear-table{
    border:none;
    background:none;
}


/* Quize style */
.quiz {
    border-left-style: none;
    padding-left:10px;
    padding-right:10px;
}

.quiz-question-text {
    font-weight: 600;
    color: #3C3C3C;
    border-bottom: 0px solid #E7EAED;
}

.book.color-theme-1  .quiz-question-text{
    color: #704214;
    border-bottom:1px solid #704214;
}

.book.color-theme-2  .quiz-question-text{
    color: #bdcadb;
    border-bottom:1px solid #bdcadb;
}

.quiz-question {
    border: none;
}

.quiz-answer {
    margin-left: 20px;
    color: #3c3c3c;
    font-weight:400;
    
}

.book.color-theme-1 input[type="radio" i], input[type="checkbox" i] {
    background-color: #F3EACB;
    border: #704214;
}

.book.color-theme-2 input[type="radio" i], input[type="checkbox" i] {
    background-color: #bdcadb;
    border: #D6DEE9;
}

.book.color-theme-1 .quiz-answer {
    color: #704214;
}

.book.color-theme-2 .quiz-answer {
    color: #bdcadb;
}

.button-check, .button-explain, .button-show-answer {
  /* анимация кнопки*/
    background-image: -webkit-linear-gradient(#eee,#d6cece);
    background-image: linear-gradient(#eee,#d6cece);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;
    border: 1px solid #cacaca;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: #eee;
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #f8f8f8;
    background-clip: padding-box;
    border: 1px solid #cfc6c6;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #fff;
    color: #333;
    display: inline-block;
    font-size: inherit;
    font-weight: semi-bold;
    background-color: #eee;
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #f9f8f8;
    background-clip: padding-box;
}


.book.color-theme-1 .quiz-question-check, .book.color-theme-1 .button-check, .book.color-theme-1 .button-explain, .button-show-answer {
    background-image: -webkit-linear-gradient(#F3EACB,#F3EACB);
    background-image: linear-gradient(#F3EACB,#F3EACB);
    border: 1px solid #704214;
    box-shadow: none;
    color: #704214;
    background-color: #F3EACB;
    text-shadow: none;
}

.book.color-theme-2 .quiz-question-check, .book.color-theme-2 .button-check, .book.color-theme-2 .button-explain, .button-show-answer  {
    background-image: -webkit-linear-gradient(#1C1F2B,#1C1F2B);
    background-image: linear-gradient(#1C1F2B,#1C1F2B);
    border: 1px solid #BDCADB;
    box-shadow: none;
    color: #BDCADB;
    background-color: none;
    text-shadow: none;
}

.book.color-theme-1 .quiz-question-check:hover  {
        background-image: -webkit-linear-gradient(#704214,#704214);
    background-image: linear-gradient(#704214,#704214 );
    color: #F3EACB;
    border-color: #704214;
}

.book.color-theme-2 .quiz-question-check:hover  {
    background-image: -webkit-linear-gradient(#BDCADB,#BDCADB);
    background-image: linear-gradient(#BDCADB,#BDCADB);
    color: #1C1F2B;
    border-color: #BDCADB;
}

.quiz-question-explanation {
  font-size: 1.6rem;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 9px 15px 20px;
  background: #fbfbfb;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
}

.book.color-theme-1 .quiz-question-explanation {
  border: 1px solid #704214;
  background: #F3EACB;
  box-shadow: inset 0 0 0 1px #704214;
}

.book.color-theme-2 .quiz-question-explanation {
  border: 1px solid #2c3043;
  background: #1c1f2b;
  box-shadow: inset 0 0 0 1px #1c1f2b;
}

.explanation {
  color: #aaa;
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 18px;
}

div.buttons span { 
    border-style: none;
}


.book.color-theme-1 .explanation {
  color: #704214;
}

.book.color-theme-2 .explanation {
  color: #bdcadb;
}

/* Картинка для видео*/
.popup {
  width:501px;
  margin: 0 auto;
  height: 282px;
  position: relative;
  border: 1px solid
  border: 1px solid #ddd;
  box-shadow: inset 0 0 0 1px #eee;
  border-radius: 3px;
}

#youtube-logo {
      background-image: url('https://cdn.rawgit.com/chudaol/ed-era-book-biology/master/youtube-dark.png');
      height: 45px;
      width: 64px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
}

.popup:hover #youtube-logo {
      background-image: url('https://cdn.rawgit.com/chudaol/ed-era-book-biology/master/youtube-red.png');
}

@media only screen and (min-width:320px){
.popup {
      width: 320px;
      height: 180px;
      margin: 0 auto;
      background-size: 320px;
      clear: both;
}
}

@media only screen and (min-width:510px){
    .popup {
        width: 500px;
        height: 282px;
        margin: 0 auto;
        background-size: 500px;
        clear: both;
    }
}
}